# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

# name: Build and deploy container app to Azure Web App - portal-virittamo
# on:
#   push:
#     branches:
#       - master
#   workflow_dispatch:

# jobs:
#   build:
#     runs-on: 'ubuntu-latest'

#     steps:
#     - uses: actions/checkout@v2

#     - name: Set up Docker Buildx
#       uses: docker/setup-buildx-action@v2

#     - name: Log in to registry
#       uses: docker/login-action@v2
#       with:
#         registry: https://virittamo.azurecr.io/
#         username: ${{ secrets.AzureAppService_ContainerUsername_f54e3afda07f4e47911caf19e69f4dfe }}
#         password: ${{ secrets.AzureAppService_ContainerPassword_48aaf3ba52fd4e368cd1e34ce218c54a }}

#     - name: Build and push container image to registry
#       uses: docker/build-push-action@v3
#       with:
#         push: true
#         tags: virittamo.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_f54e3afda07f4e47911caf19e69f4dfe }}/virittamo/virittamointranet:${{ github.sha }}
#         file: ./Dockerfile
#     - name: Create .env file in client folder
#       run: |
#           echo "${{ secrets.ENV_FILE_CLIENT }}" > ./client/.env
      
#     - name: Create .env file in server folder
#       run: |
#           echo "${{ secrets.ENV_FILE_SERVER }}" > ./server/.env

#   deploy:
#     runs-on: ubuntu-latest
#     needs: build
#     environment:
#       name: 'production'
#       url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

#     steps:
#     - name: Deploy to Azure Web App
#       id: deploy-to-webapp
#       uses: azure/webapps-deploy@v2
#       with:
#         app-name: 'portal-virittamo'
#         slot-name: 'production'
#         publish-profile: ${{ secrets.AzureAppService_PublishProfile_ac583bbb883f417d8157c1702d3ab708 }}
#         images: 'virittamo.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_f54e3afda07f4e47911caf19e69f4dfe }}/virittamo/virittamointranet:${{ github.sha }}'

name: Build and push to Docker Hub
on: push
jobs:
    build-container:
      name: Build Docker container
      runs-on: ubuntu-latest
      steps:
        - name: Chekckout code
          uses: actions/checkout@v3
        - name: Login to Docker Hub
          uses: docker/login-action@v1
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_PASSWORD }}
        - name: Build and push to Docker Hub
          uses: docker/build-push-action@v2
          with: 
            context: .
            push: true
            tags: virittamosofta/virittamoportaali123
      
